<phpunit bootstrap="./tests/bootstrap.php" backupGlobals="false" colors="true">
    <php>
        <env name="DB_PATH" value="./tests/database.sqlite"/>
    </php>
    <testsuites>
        <testsuite name="test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>